/* fonts */

.josefin-sans-medium {
  font-family: "Josefin Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.josefin-sans-light {
  font-family: "Josefin Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #45462a;
  padding: 2rem 2rem;
  color: white;
  position: sticky;
  top: 0;
  z-index: 100;
}

.header-center {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.logo-img {
  height: 40px;
  display: block;
  margin: 0 auto;
}

.nav-list {
  list-style: none;
  display: flex;
  gap: 1.5rem;
  margin: 0;
  padding: 0;
}

.nav-link {
  text-decoration: none;
  color: var(--color-light);
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-weight: 400;
}

.nav-link img {
  width: 1.7rem;
  height: 1.7rem;
}

/* Search Bar */

#search-container {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  position: sticky;
  top: 7rem;
  z-index: 90;
}

.search-bar {
  max-width: 250px;
  width: 100%;
  padding: 0.6rem 1rem;
  border-radius: 25px;
  border: none;
  font-family: var(--font-primary);
  font-size: 1rem;
  outline: none;
  background-color: #e7e6e3;
  color: var(--color-dark);
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.08);
}

main h2 {
  text-decoration: underline;
}

.category-lunch {
  background-color: #ebece6;
}

main img {
  width: 90%;
  height: auto;
}

.lunch-items {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: space-around;
  align-items: center;
  text-align: center;
  gap: 50px;
  padding-top: 4em;
  padding-bottom: 5em;
}

.space {
  border: none;
  background-color: #45462a;
  color: white;
  padding: 8em;
}

.lunch-items2 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: space-around;
  align-items: center;
  text-align: center;
  gap: 50px;
  padding-top: 4em;
  padding-bottom: 5em;
}

footer {
  border: 2px solid black;
  padding: 3em;
}
